# Node modules
node_modules/

# Environment variables
.env

# Angular build output
frontend/dist/
frontend/.angular/

# Temporary files
.DS_Store

# Local data files
backend/data/cvs/*.json
backend/data/users.json

# Serverless artifacts
backend/.serverless/
.serverless/

# Personal records
README-PERSONAL.md
